/* Button container for Cancel and Send buttons */
.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.cancelButton {
  padding: 5px 10px;
  background-color: #ccc;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cancelButton:hover {
  background-color: #999;
}

.submitButton {
  padding: 10px 20px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submitButton:hover {
  background-color: darkred;
}