/* Top Bar Styles */
.profile-head {
    width: 100%;
    background-color: #db3434;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 35px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    z-index: 1000;
    margin-top: 55px;
}

.menu-options {
    display: flex;
    gap: 13px;
}

.menuItem {
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 8px;
    font-size: 0.95em;
    color: white;
}

.menuItem:hover {
    background-color: #000000;
}

.menuItem.active {
    color: #db3434;
    background-color: white;
    font-weight: bold;
}

.notifications-icon {
    position: relative;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.notifications-icon .icon {
    font-size: 1.5rem;
    color: white;
}

.profile-container {
    display: flex;
    min-height: 100vh;
    background-color: #f5f5f5;
    font-family: 'Segoe UI', sans-serif;
    margin-top: 100px;
}

.main-content {
    flex: 1;
    padding: 35px;
    background-color: #f8f9fa;
    transition: all 0.3s;
}