.property-detail {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.property-detail-page {
  padding: 20px;
  margin: 0 auto;
  text-align: left;
  margin-top: 50px;
  position: relative;
}

.breadcrumb {
  display: flex;
  font-weight: 600;
  color: #555;
  margin-top: 5px;
  margin-left: 70px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: solid 1px;
}

.breadcrumbHome {
  color: #555;
  text-decoration: none;
  margin-top: -0.2px;
  font-size: 20px;
}

.breadcrumbSymbol {
  margin-top: 2px;
  font-size: 20px;
}

.breadcrumbSpan {
  color: #bc2d2d;
  cursor: pointer;
  font-size: 20px;
  margin-top: 0.4px;
}

.backBtn {
  position: absolute;
  top: 20px;
  left: 30px;
  font-size: 26px;
  color: #333;
  cursor: pointer;
  transition: color 0.3s;
}

.backBtn:hover {
  color: #bc2d2d;
}

.detail-head-div {
  display: flex;
  margin-top: 30px;
}

.detail-div-1 {
  display: block;
  width: 60%;
}

.house-icon {
  font-size: 40px;
  color: #bc2d2d;
  margin-left: -15px;
  margin-right: 30px;
}

.property-detail-page h1 {
  font-size: 28px;
  margin-bottom: 10px;
}

.property-location {
  font-size: 18px;
  color: #777;
  margin-bottom: 5px;
  margin-top: -10px;
}

.property-rating {
  font-size: 16px;
  color: #333;
  margin-bottom: 15px;
}

.owned-by {
  margin-top: 7px;
}

.owned-by h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.owned-by p {
  font-size: 16px;
  color: #555;
}

.owner-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.owner-profile-picture {
  width: 40px;
  height: 40px;
  border-radius: 200px;
}

.apply-for-rent-button {
  background-color: #bc2d2d;
  color: white;
  border: none;
  padding: 10px 50px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 22px;
  margin-left: 460px;
  transition: background-color 0.3s ease;
}

.apply-for-rent-button:hover {
  background-color: #f21e1e;
}

.neighborhood-info {
  margin-top: 20px;
  margin-bottom: 35px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  width: 80%;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.neighborhood-info h3 {
  font-size: 20px;
  margin-bottom: 15px;
  color: #333;
}

.neighborhood-info p {
  font-size: 16px;
  color: #555;
  line-height: 1.6;
  margin: 0;
}