/* Base styles for the form */
.vendor-request-form {
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  border: 1px solid #b6bcc6;
  text-align: center;
}

.vendor-request-form h2 {
  margin-bottom: 20px;
  color: #333;
  font-size: 24px;
}

/* Logo image */
.logo-image {
  max-width: 45px;
}