/* Base styles for the form */
.vendor-request-form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    border: 1px solid #b6bcc6;
    text-align: center;
  }
  
  .vendor-request-form h2 {
    margin-bottom: 20px;
    color: #333;
    font-size: 24px;
  }
  
  /* Logo image */
  .logo-image {
    max-width: 45px;
  }
  
  /* Form group styles */
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
  }
  
  .form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
  }
  
  /* File upload area with hover animation */
  .file-drop-area {
    border: 2px dashed #ddd;
    border-radius: 8px;
    padding: 20px;
    margin: 1.5rem 0;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .file-drop-area:hover {
    transform: scale(1.03);
    border-color: #FB1717;
    background: #fff6f6;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  }
  
  .file-drop-area p {
    color: #666;
    margin: 0;
  }
  
  /* Image preview styles */
  .image-preview-container {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
  }
  
  .image-preview {
    position: relative;
    text-align: center;
  }
  
  .review-image {
    max-width: 200px;
    height: auto;
    border-radius: 8px;
    border: 2px solid #eee;
    margin-top: 0.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
  }
  
  .review-image:hover {
    transform: scale(1.05);
  }
  
  .remove-button {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #ff4444;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .remove-button:hover {
    background-color: #cc0000;
  }
  
  /* Button container for Cancel and Send buttons */
  .button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .cancel-button {
    padding: 10px 20px;
    background-color: #ccc;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .cancel-button:hover {
    background-color: #999;
  }
  
  .submit-button {
    padding: 10px 20px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .submit-button:hover {
    background-color: darkred;
  }
  
  /* Error message styling */
  .error-message {
    color: #ff4444;
    font-size: 0.85rem;
    margin-top: 0.5rem;
  }